.updater-wrapper {
    background-color: rgba(0, 0, 0, 0.973);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    & .close {
        position: absolute;
        top: 40px;
        right: 50px;
        cursor: pointer;
    }
    & .main {
        padding: 10px;
        height: 30%;
        width: 30%;
        border-radius: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        & form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 7px;
            & input {
                font-size: medium;
                border-radius: 30px;
                border: 1px solid black;
                padding: 15px;
                width: 90%;
                margin-top: 10px;
            }
            & div {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                gap: 10px;
                & button {
                    margin-top: 10px;
                    width: 30%;
                    padding: 10px;
                    cursor: pointer;
                    background-color: rgb(7, 141, 252);
                    border: none;
                    border-radius: 25px;
                    color: white;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                & .closebtn {
                    background-color: grey;
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .updater-wrapper .main {
        width: 40%;
        height: 40%;
    }
}
@media (max-width: 850px) {
    .updater-wrapper .main {
        width: 45%;
    }
}
@media (max-width: 768px) {
    .updater-wrapper .main {
        width: 50%;
    }
}
@media (max-width: 660px) {
    .updater-wrapper .main {
        width: 60%;
    }
}
@media (max-width: 560px) {
    .updater-wrapper .main {
        width: 70%;
    }
}
@media (max-width: 460px) {
    .updater-wrapper .main {
        width: 85%;
    }
}
@media (max-width: 378px) {
    .updater-wrapper .main {
        width: 90%;

    }
}