.dashoard-wrapper {
    min-height: 100vh;
    & .header-dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        & div:not(.left, .refresh) {
            position: relative;
            right: 4%;
        }
        & .left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            & .pageName {
                font-size: 2.2rem;
                font-weight: bold;
                @media (max-width: 425px) {
                    font-size: 1.5rem;
                }
            }
        }
        & .refresh {
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    & .allSales {
        display: flex;
        width: 100%;
        & .left-sales {
            width: 60%;
            & .sales {
                & .sales-body {
                    flex-wrap: wrap;
                }
            }
        }
        & .right-analytics {
            display: flex;
            flex-direction: column;
            width: 39%;
            padding: 20px;
            & .analytics-header {
                display: flex;
                font-weight: bold;
                font-size: 2.2rem;
                width: 100%;
                align-items: center;
                justify-content: center;
                @media (max-width: 425px) {
                    font-size: 1.5rem;
                }
            }
            & .user-bars, .workers-bars {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                max-height: 253px;
                gap: 10px;
                margin-top: 10px;
                border-left: 1px solid lightgrey;
                border-right: 1px solid lightgrey;
                border-radius: 20px;
                padding-left: 10px;
                padding-right: 10px;
                & .today_sales, .today_items_sold {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    height: 100%;
                    width: 50%;
                    padding: 5px;
                    & .progressbar_today_sales {
                        height: 100%;
                    }
                    & .text1 {
                        position: absolute;
                        top: 35%;
                        left: 17.5%;
                        text-align: center;
                    }
                    & .prog1_header {
                        position: absolute;
                        top: 103%;
                        left: 30%;
                        text-align: center;    
                        font-weight: bold;
                    }
                }
                & .today_items_sold {
                    & .progressbar_items_sold {
                        height: 100%;
                    }
                    & .text2 {
                        position: absolute;
                        top: 35%;
                        right: 29%;
                        text-align: center;    
                    }
                    & .prog2_header {
                        position: absolute;
                        top: 103%;
                        right: 17%;
                        text-align: center;
                        font-weight: bold;    
                    }
                }
            }
            & .workers-bars {
                margin-top: 24%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 70px;
                justify-items: center;
                max-height: 100%;
                width: 100%;
                & .workerPrgBar {
                    display: flex;
                    position: relative;
                    height: 100%;
                    padding: 5px;
                    & .workers_progBar {
                        height: 100%;
                        width: 100%;
                    }
                    & .prog3_header {
                        font-weight: bold;
                        position: absolute;
                        top: 103%;
                        left: 13%;
                        text-align: center;
                    }
                    & .text3 {
                        position: absolute;
                        top: 35%;
                        left: 16%;
                        text-align: center;
                    }
                }
            }
        }
    }
    & .sales, .manageShopItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        & .header {
            font-size: 2.2rem;
            font-weight: bold;
            width: 100%;
            display: flex;
            align-items: center;
            @media (max-width: 425px) {
                font-size: 1.5rem;
            }
            & h3 {
                font-size: 1.4rem;
            }
        }
        & .sales-body {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            width: 100%;
            & > div {
                background-color: lightgrey;
                display: flex;
                flex-direction: column;
                padding: 20px;
                border-radius: 20px;
                & .indicator {
                    font-weight: bold;
                    font-size: 2.5rem;
                }
            }
        }
        & .shop-management-body {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            width: 100%;
            flex-direction: column;
            & .totals, .itemsAlt {
                display: flex;
                flex-direction: row;
                gap: 10px;
                & > div {
                    background-color: lightgrey;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    border-radius: 20px;
                    & .indicator {
                        font-weight: bold;
                        font-size: 2.5rem;
                    }
                }
            }
            & .totals {
                padding-bottom: 10px;
            }
            & .itemsAlt {
                display: flex;
                width: 100%;
                border-radius: 10px;
                & .addItems {
                    background-color: transparent;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid lightgrey;
                    width: 100%;
                    & form {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;
                        padding: 10px;
                        align-items: center;
                        justify-content: center;
                        & .imageView {
                            clip-path: circle();
                            height: 40vh;
                            width: 36vw;
                            background-color: lightgrey;
                            & img {
                                object-fit: contain;
                            }
                        }
                        & input {
                            padding: 15px;
                            font-size: medium;
                            border-radius: 20px;
                            border: 1px solid black;
                            width: 100%;
                        }
                        & select {
                            padding: 15px;
                            font-size: medium;
                            border-radius: 20px;
                            border: 1px solid black;
                            width: 100%;
                        }
                        & button {
                            padding: 10px;
                            font-size: medium;
                            width: 100px;
                            border-radius: 50px;
                            background-color: rgb(7, 141, 252);
                            border: none;
                            color: white;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
                & .right {
                    background-color: transparent;
                    border: 1px solid lightgrey;
                    width: 100%;
                    & .addCategory, .delCategory {
                        background-color: transparent;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        & form {
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 20px;
                            align-items: center;
                            justify-content: center;
                            & input {
                                padding: 10px;
                                font-size: medium;
                                border-radius: 20px;
                                border: 1px solid black;
                                padding: 15px;
                                width: 100%;
                            }
                            & button {
                                padding: 6px;
                                font-size: medium;
                                width: 80px;
                                height: 50px;
                                border-radius: 50px;
                                background-color: rgb(7, 141, 252);
                                border: none;
                                color: white;
                                cursor: pointer;
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
                            & .delBtn {
                                background-color: red;
                            }
                        }
                    }
                }
                & a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border-radius: 15px;
                    border: 1px solid lightgrey;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
    & .title {
        font-weight: bold;
        font-size: 1.4rem;
        padding-left: 20px;
    }
    & .sales_workers {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 20px;
        gap: 10px;
        & .today, .overall {
            background-color: lightgrey;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            gap: 10px;
            & .tag {
                color: grey;
            }
            & .workerSales {
                & .name {
                    font-weight: bold;
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding-bottom: 5px;
                }
                & p:not(.name) {
                    font-weight: 500;
                    font-size: 1.1rem;
                    padding-left: 5px;
                }
                & button {
                    display: flex;
                    cursor: pointer;
                    justify-self: center;
                    padding: 10px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border-radius: 20px;
                    border: 1px solid black;
                    transition: all .15s;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
    }
    & .manageWorkers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 10px;
        padding-bottom: 70px;
        & .header {
            font-weight: bold;
            font-size: 2.2rem;
            @media (max-width: 425px) {
                font-size: 1.5rem;
            }
        }
        & h3 {
            margin-bottom: 10px;
        }
        & .workers {
            border-radius: 15px;
            display: flex;
            gap: 10px;
            flex-direction: column;
            & .worker {
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                border-radius: 10px;
                border: 1px solid black;
                & .employeeName {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                & button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 10px;
                    cursor: pointer;
                    border: 1px solid black;
                    border-radius: 50px;
                    transition: all 0.15s;
                    position: relative;
                    left: 20px;
                    &:hover {
                        opacity: 0.6;
                    }
                }
                & .grantAcc {
                    background-color: black;
                    color: white;
                }
                & .delAcc {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    color: white;
                    background-color: red;
                }
            }
        }
        & .actions_workers {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            gap: 5px;
            font-weight: bold;
            & .actions_title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                padding-right: 10px;
                & .clear {
                    color: red;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
            & .action-cont {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                background-color: lightgrey;
                border-radius: 10px;
                color: grey;
                gap: 10px;
                & .item {
                    display: flex;
                    gap: 10px;
                }
            }
        }
    }
}
.dropDown {
    background-color: darkgrey;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
}

@media (max-width:  1024px) {
    .dashoard-wrapper {
        & .allSales {
            flex-direction: column;
            & .left-sales {
                width: 100%;
            }
            & .right-analytics {
                width: 100%;
                position: relative;
                & .analytics-header {
                    justify-content: left;
                    margin-bottom: 10px;
                }
                & .user-bars {
                    width: 49%;
                }
                & .workers-bars {
                    width: 47.5%;
                    position: absolute;
                    top: -45%;
                    right: 20px;
                }
            }
        }
        & .manageShopItems {
            margin-top: 20px;
        }
    }
}
@media (max-width:  768px) {
    .dashoard-wrapper {
        & .allSales {
            flex-direction: column;
            & .left-sales {
                width: 100%;
            }
            & .right-analytics {
                width: 100%;
                position: relative;
                & .analytics-header {
                    justify-content: left;
                    margin-bottom: 10px;
                }
                & .user-bars {
                    width: 70%;
                }
                & .workers-bars {
                    width: 70%;
                    position: relative;
                    top: 0 !important;
                    right: 0 !important;
                    margin-top: 60px !important;
                }
            }
        }
        & .manageShopItems {
            margin-top: 20px;
        }
        & .manageWorkers {
            & .actions_workers {
                & .action-cont {
                    font-size: 0.8rem;
                }   
            }
        }
    }
}
@media (max-width: 600px) {
    .dashoard-wrapper {
        & .allSales {
            flex-direction: column;
            & .left-sales {
                width: 100%;
            }
            & .right-analytics {
                & .user-bars {
                    width: 100%;
                }
                & .workers-bars {
                    width: 100%;
                }
            }
        }
        & .manageShopItems {
            & .shop-management-body {
                & .itemsAlt {
                    flex-direction: column;
                }
            }
        }
    }
}
@media (max-width: 545px) {
    .dashoard-wrapper {
        & .allSales {
            & .left-sales {
                & .sales {
                    & .sales-body {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        & > div {
                            height: 95%;
                        }
                    }
                }
                & .workers_sales_today_overall {
                    & .sales_workers {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        & > div {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .dashoard-wrapper {
        & .allSales {
            & .left-sales {
                & .sales {
                    & .sales-body {
                        & div {
                            & h3 {
                                font-size: medium;
                            }
                            & div {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
                & .workers_sales_today_overall {
                    & .sales_workers {
                        & > div {
                            & .tag {
                                font-size: 1rem;
                            }
                            & > div {
                                & .name {
                                    font-size: 1.2rem;
                                }
                                & .quantitySold, .amountMade {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }

            & .right-analytics {
                & .user-bars, .workers-bars {
                    & .today_sales, .today_items_sold {
                        & .text1 {
                            font-size: 0.9rem;
                        }
                    }
                    & .today_items_sold {
                        & .text2 {
                            font-size: 0.9rem;
                        }
                    }
                }
                & .workers-bars {
                    margin-top: 24%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 70px;
                    justify-items: center;
                    max-height: 100%;
                    width: 100%;
                    & .workerPrgBar {
                        & .text3 {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        & .manageShopItems {
            & .shop-management-body {
                & .totals {
                    & > div {
                        & h3 {
                            font-size: medium;
                        }
                        & div {
                            font-size: 1.5rem !important;
                        }
                    }
                }
            }
        }
        & .manageWorkers {
            & .workers {
                & .worker {
                    gap: 5px;
                    & .grantAcc, .remAccess, .delAcc {
                        font-size: 0.65rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
@media (max-width: 425px) {
    .dashoard-wrapper {
        & .allSales {
            & .left-sales {
                & .workers_sales_today_overall {
                    & .sales_workers {
                        grid-template-columns: repeat(1, 1fr);
                        & > div {
                            width: 100%;
                            & .tag {
                                font-size: 1rem;
                            }
                            & > div {
                                & .name {
                                    font-size: 1.2rem;
                                }
                                & .quantitySold, .amountMade {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            & .right-analytics {
                & .user-bars, .workers-bars {
                    & .today_sales, .today_items_sold {
                        & .text1 {
                            font-size: 0.8rem;
                        }
                    }
                    & .today_items_sold {
                        & .text2 {
                            font-size: 0.8rem;
                        }
                    }
                }
                & .workers-bars {
                    & .workerPrgBar {
                        & .text3 {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        & .manageWorkers {
            & .workers {
                & .worker {
                    gap: 20px !important;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .dashoard-wrapper {
        & .allSales {
            & .left-sales {
                & .sales {
                    & .sales-body {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
        & .manageShopItems {
            & .shop-management-body {
                & .totals {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    & > div {
                        width: 100%;
                    }
                }
            }
        }
    }
}